.filled {
  fill: var(--primary) !important;
}

.editable {
  cursor: pointer;
}

.star {
  padding-right: 5px;
  box-sizing: content-box;
}

.error svg {
  stroke: var(--red);
}

.ratingWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--red);
  font-size: 12px;
}
