.search {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding-right: 40px;
}

.search .button {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 35px;
  width: 35px;
  padding: 7px;
}
